.Main1{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.Mainbox1{
    height: 500px;
    width:450px ;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
}